@tailwind base;
@tailwind components;
@tailwind utilities;


.urbanist {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.design-nav {
    background-image: url(/img/design-navbar.png);
    background-size: cover;
}

.design-banner-about {
    background-image: url(img/banner-abstract.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.design-contact-us {
    background-image: url(/img/abstract-contact-us.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.design-service {

    background-image: url(/img/contact-us-abstract.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.design-service-grid {
    background-image: url(/img/learn-more-abstract.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.prova-absolute {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: 20;
}

/* COLORS */
:root {
    --primary: #7b7b7b;
    --hover-primary: #4b505d;
    --default: #E5E7EB;
    --hover-default: #bdb6b6;

    --bg: #F2F1EF;
    --border: #413F3D;
    --testo: #413F3D;
    --hover-btn: #000cf5;
    /* SCURO= DARKER */
    --darker: #F2F1EF;
    --border-griglia: #F2F1EF;
    /* default = rosato */
    --default: #D8D0D0;
}

/* 14 scuro 19 CHIARO */
.dark {
    /* bottoni */
    --primary: #703BF7;
    /* card bottoni standard */
    --default: #191919;
    /* sfondo */
    --darker: #141414;
    /* bordo scuro */
    --border: #333333;
    --hover-primary: #7a58d1;
    --testo: #6A7484;
    --hover-default: #212121;
    --border-griglia: #141414;

}

/* SFONDO = scuro */
/* BG-SECONDARY = DEFAULT */



.bordo {
    border: 10px solid var(--border-griglia);
    border-radius: 24px;
}

.btn {
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}




.testo {
    color: var(--testo)
}

/* BORDO PER GRIGLIA ABOUT US */
.shadow_border {
    box-shadow: 0px 0px 10px 10px var(--default);

}

.shadow_about {
    box-shadow: 0px 0px 5px 10px var(--default);

}

.prova-twitter {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}



